name: Tests
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    branches:
      - "main"
jobs:
  build:
    name: "Test with Node.js v${{ matrix.node }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node:
          - 20
          - 22
          - 24
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node }}"
          cache: npm

      - name: Install latest NPM
        run: npm i -g npm@latest

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm test
