name: Tests
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    branches:
      - "main"
jobs:
  build:
    name: "Test with Node.js v${{ matrix.node }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        node:
          - 20
          - 22
          - 24
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node }}"
      - uses: actions/checkout@v6
      - name: "Cache node_modules"
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-v${{ matrix.node }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-v${{ matrix.node }}-
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm test
